html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: var(--primary-text-color);
    font-family: 'Roboto', 'Verdana', sans-serif;
    font-style: normal;
    letter-spacing: 0.03em;
    background-color: var(--white-color);
    
    &.modal-open {
        overflow:hidden;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.section {
    padding: 60px 0;

    @media screen and (min-width:1200px) {
            padding: 94px 0;
        }
}
.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0;

    @media screen and (min-width:1200px) {
        font-size: 36px;
    }
}
.no-scroll{
    overflow: hidden;
}
