.team {
    background-color: var(--button-bg-color);

    &__title {
        margin-bottom: 30px;
        }
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1*var(--team-list-gap));
        }

    &__description {
        padding: 30px 0;
        text-align: center;
        }
    
    &__name {
        color: var(--title-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;

        margin-top: 0;
        margin-bottom: 10px;
        }
    
    &__profession {
        font-size: 16px;
        line-height: 1.19;

        margin-top: 0;
        margin-bottom: 16px;
        }
}


.team__item {
    .team__list>& {
        width:100%;
        background-color: var(--white-color);
        box-shadow: var(--team-list-shadow);
        border-radius: 0px 0px 4px 4px;
        overflow: hidden;
        margin-top: var(--team-list-gap);

        @media screen and (min-width:768px) {
            width: calc((100% -  var(--team-list-gap)) / 2);
            margin-right: var(--team-list-gap);
        }

        @media screen and (min-width:1200px) {
            width: calc((100% - 3* var(--team-list-gap)) / 4);
            margin-right: var(--team-list-gap);
            flex-grow: 1;
        }

    }
         @media screen and (min-width:768px)and(max-width:1199px) {
            .team__list>&:nth-child(2n) {
            margin-right: 0;
            }
         }

        @media screen and (min-width:1200px) {
            .team__list>&:nth-child(4n) {
                margin-right: 0;
            }
        }
}

